.category-base.card-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

@media (min-width: 50em) {
  .category-base.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: 22rem;
  }

  .category-base > .newscard-item {
    grid-column: span 1;
  }

  .category-base > .newscard-item > .newscard-content-wrapper {
    min-height: 8rem;
  }

  .category-base
    > .newscard-item
    > .newscard-content-wrapper
    > .newscard-content-wrapper-spacer
    > .newscard-title {
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}
